/* tela - home */
.style_card_apresentacao{
    margin:1rem;border-radius: 12px; box-shadow: 2px 2px 29px -2px rgba(0,0,0,0.52);
                    -webkit-box-shadow: 2px 2px 29px -2px rgba(0,0,0,0.52);
                    -moz-box-shadow: 2px 2px 29px -2px rgba(0,0,0,0.52);
}
.style_card_apresentacao_subtitulo{
    margin-top: 10px;color: #707070; font-size: 14x;line-height: 19px; 
}
.style_card_apresentacao_grupos_a_serem_vacinados{
    font-weight: 700; font-family: Arial, Helvetica, sans-serif; font-size: 22px; line-height: 26px; color: #FF545A;margin-top: 30px;
}
.style_card_apresentacao_idade{
    text-align: center; font-weight: 700; font-family: Arial, Helvetica, sans-serif; font-size: 55px; line-height: 40px; letter-spacing: -3px; color: #FF545A;margin-top: 30px;
}
.style_card_apresentacao_a_anos{
    color:#01487E; font-size: 35px;
}
.style_card_apresentacao_solicitar_vacina{
    font-weight: 700; font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 26px; color: #01487E;margin-top: 30px;margin-bottom: 10px;
}
.style_card_apresentacao_solicitar_vacina_subtitulo{
    color: #707070; font-size: 15px;line-height: 19px;
}
.style_card_apresentacao_botao{
    width: 100%;margin-left: 15px;margin-right: 15px; margin-top: 10px;box-shadow: 0px 7px 23px -5px rgba(0,0,0,0.38);
                                        -webkit-box-shadow: 0px 7px 23px -5px rgba(0,0,0,0.38);
                                        -moz-box-shadow: 0px 7px 23px -5px rgba(0,0,0,0.38);
}

.card_menor{
    margin-top:1rem; border-radius: 12px; box-shadow: 2px 2px 29px -2px rgba(0,0,0,0.52);
    -webkit-box-shadow: 2px 2px 29px -2px rgba(0,0,0,0.52);
    -moz-box-shadow: 2px 2px 29px -2px rgba(0,0,0,0.52);
}

.card_menor2{
    margin-top:1rem; border-radius: 12px; box-shadow: 2px 2px 29px -2px rgba(0,0,0,0.52);
    -webkit-box-shadow: 2px 2px 29px -2px rgba(0,0,0,0.52);
    -moz-box-shadow: 2px 2px 29px -2px rgba(0,0,0,0.52); width: 412px;
}
.card_menor3{
    margin-top:1rem; border-radius: 12px; box-shadow: 2px 2px 29px -2px rgba(0,0,0,0.52);
    -webkit-box-shadow: 2px 2px 29px -2px rgba(0,0,0,0.52);
    -moz-box-shadow: 2px 2px 29px -2px rgba(0,0,0,0.52); width: 860px;
}

.style_card_medio{
    margin:1rem;border-radius: 12px; box-shadow: 2px 2px 29px -2px rgba(0,0,0,0.52);
                    -webkit-box-shadow: 2px 2px 29px -2px rgba(0,0,0,0.52);
                    -moz-box-shadow: 2px 2px 29px -2px rgba(0,0,0,0.52);;
}
.style_card_divisao{
    border-left: 1px solid;border-color: #CCE6FB;
}
.style_card_divisao_horizontal{
    border-bottom: 0px solid;;
}
.style_card_medio_titulo{
    margin-left: -15px; margin-right: -15px; background-color:#FF545A; color: #fff;font-size: 19px; font-weight: 600; border-top-left-radius: 12px;border-top-right-radius: 12px;
}
.style_card_medio_conteudo{
    text-align: center; font-weight: 600; font-family: Arial, Helvetica, sans-serif; font-size: 34px; line-height: 26px; color: #01487E;margin-top: 20px;
}
.style_card_medio_legenda{
    text-align:center;color:#01487E; font-weight:600; margin-top: 20px;margin-bottom: 30px;
}
.style_card_menor{
    padding: 15px;width: 295px;
}
.card_media2{
    padding-left: 15px; padding-right: 15px;padding-bottom: 15px;
}
.style_card_menor_titulo{
    background-color:#FF545A; color: #fff;font-size: 19px; font-weight: 600; border-top-left-radius: 12px;border-top-right-radius: 12px;text-align: center;
}
.style_card_menor_conteudo{
    text-align: center; font-weight: 600; font-family: Arial, Helvetica, sans-serif; font-size: 50px; line-height: 26px; color: #01487E;margin-top: 20px;
}
.style_card_menor_legenda{
    text-align:center;color:#01487E; font-weight:600; margin-top: 25px;margin-bottom: 20px;
}
.tabela_grupos_a_serem_vacinados_desktop{
    display:block;
}
.tabela_grupos_a_serem_vacinados_mobile{
    display: none;
}
.style_ultima_atualizacao{
    text-align: center; 
    margin-top:2rem; 
    margin-bottom: 4rem;
}
.style_informacoes_titulo{
    color: #909090; font-size: 19px;
}
.style_informacoes_subtitulo{
    color: #909090; font-weight: normal;
}
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.5rem;
    color:#01487E; 
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
    color: #FF545A;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}

@media screen and (max-width: 1199px) and (min-width: 992px){
    .style_card_menor{
        padding: 15px;width: 250px;
    }
    .card_menor2{
        width: 345px;
    }
    .card_menor3{
        width: 719px;
    }
}
@media screen and (max-width: 991px) and (min-width: 768px){
    .style_card_menor{
        padding: 15px;width: 190px;
    }
    .card_menor2{
        width: 260px;
    }
    .style_card_menor_conteudo{
        text-align: center; font-weight: 600; font-family: Arial, Helvetica, sans-serif; font-size: 30px; line-height: 26px; color: #01487E;margin-top: 20px;
    }
    .card_menor3{
        width: 550px;
    }
}
@media screen and (max-width: 768px) and (min-width: 0px){
    .style_card_menor{
        padding: 15px;width: 100%;
    }
    .style_card_divisao{
        border-left: 0px solid;;
    }
    .style_card_divisao_horizontal{
        border-bottom: 1px solid; border-color: #CCE6FB;
    }
    .card_menor2{
        width: 100%;
    }
    .card_media2{
        width: 100%;
    }
    .card_menor3{
        width: 100%;
    }
}
@media screen and (max-width:495px) and (min-width:0px) {
    .tabela_grupos_a_serem_vacinados_desktop{
        display:none;
    }
    .tabela_grupos_a_serem_vacinados_mobile{
        display: block;
    }
}

/* X tela - home X */

/*  tela - cadastro  */
.style_titulo_input{
    color:#204788; font-weight: 600;font-family: Arial, Helvetica, sans-serif;
}
.style_subtitulo_input{
    color: #AFAFAF; font-weight: normal;
}
.style_input{
    background-color: #f1f3f4;border: 0 none;
}
.style_titulo_campo{
    font-size: 22px;font-weight: 600; font-family: Arial, Helvetica, sans-serif;color: #FC5B40; margin-bottom: -15px;
}
.style_linha_campo{
    color: #FC5B40; border-bottom: 10px solid; margin-bottom: 5px;
}

/* X tela - cadastro X */

/*  tela - sobre  */
.titulo_sobre{
    font-size: 30px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; margin-top:0.5rem; margin-bottom: 0.4rem;
}
.subtitulo_sobre{
    font-size: 20px; font-weight: 600; margin-bottom: 1rem;
}
#titulo_lista_sobre{
    font-weight: 600; margin-bottom: 0.3rem;
}

/* X tela - sobre X */



/* CSS Concursos */

/* Sugestoes */
.btn_sugestoes{
    background-color: #707070;
}
.btn_sugestoes:hover{
   background-color: #707070;
}
/* X Sugestoes X */

/* Card */
.style_card{
    width: 270px; 
    margin:5px; 
    border-radius: 12px;
    border-width: 0px;

    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}
.style_card:hover{
    width: 270px;
    margin:5px; 
    border-radius: 12px;
    border-width: 0px;
    box-shadow: 1px -2px 31px -20px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px -2px 31px -20px rgba(0,0,0,0.75);
-moz-box-shadow: 1px -2px 31px -20px rgba(0,0,0,0.75);

-webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -o-transition: 1s ease-in;
    transition: 1s ease-in;

}
.style_card_titulo{
    color: #1492E6; font-family: Arial, Helvetica, sans-serif; font-size: 22px; margin-top: 3px; margin-bottom: -5px; font-weight: bold;
}
.style_card_subtitulo{
    color: #909090;
    text-transform: uppercase;
    margin-top: 3px;
}
.style_card_data{
    color: #F15757; font-weight: normal; font-size: 15px;
}
.style_card_maior_que{
    margin-top: -3px; margin-left: 5px; margin-right: 5px;
}
.style_card_detalhe{
    font-weight: normal; font-size: 14.8px;text-align: left; margin-bottom: -5px;
}
.style_card_linha{
    margin-bottom: 8px; border-color: #f5f5f5;
}
.style_card_tipo{
    font-size: 15px; font-weight:normal; color: #909090; margin-bottom: -3px;
}

@media screen and (max-width: 1199px) and (min-width: 991px){
    .style_card{
        width: 303px; 
        margin:5px; 
        border-radius: 12px;
        border-width: 0px;
    
        -webkit-transition: 0.5s ease-in;
        -moz-transition: 0.5s ease-in;
        -o-transition: 0.5s ease-in;
        transition: 0.5s ease-in;
    }
    .style_card:hover{
        width: 303px; 
        margin:5px; 
        border-radius: 12px;
        border-width: 0px;
        box-shadow: 1px -2px 31px -20px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px -2px 31px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -2px 31px -20px rgba(0,0,0,0.75);
    
    -webkit-transition: 1s ease-in;
        -moz-transition: 1s ease-in;
        -o-transition: 1s ease-in;
        transition: 1s ease-in;
    
    }
}
@media screen and (max-width: 991px) and (min-width: 767px){
    .style_card{
        width: 340px; 
        margin:5px; 
        border-radius: 12px;
        border-width: 0px;
    
        -webkit-transition: 0.5s ease-in;
        -moz-transition: 0.5s ease-in;
        -o-transition: 0.5s ease-in;
        transition: 0.5s ease-in;
    }
    .style_card:hover{
        width: 340px;
        margin:5px; 
        border-radius: 12px;
        border-width: 0px;
        box-shadow: 1px -2px 31px -20px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px -2px 31px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -2px 31px -20px rgba(0,0,0,0.75);
    
    -webkit-transition: 1s ease-in;
        -moz-transition: 1s ease-in;
        -o-transition: 1s ease-in;
        transition: 1s ease-in;
    
    }
}
@media screen and (max-width: 767px) and (min-width: 0px){
    .style_card{
        width: 100%; 
        margin:5px; 
        border-radius: 12px;
        border-width: 0px;
    
        -webkit-transition: 0.5s ease-in;
        -moz-transition: 0.5s ease-in;
        -o-transition: 0.5s ease-in;
        transition: 0.5s ease-in;
    }
    .style_card:hover{
        width: 100%;
        margin:5px; 
        border-radius: 12px;
        border-width: 0px;
        box-shadow: 1px -2px 31px -20px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px -2px 31px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -2px 31px -20px rgba(0,0,0,0.75);
    
    -webkit-transition: 1s ease-in;
        -moz-transition: 1s ease-in;
        -o-transition: 1s ease-in;
        transition: 1s ease-in;
    
    }
}

/* X Card X */

/* card de descrição */

#descricao-concurso {
    resize: none;
    font-weight: normal;
    font-size: 16px; 
    width: 100%;
    overflow: hidden;
    border: none;
    text-align: justify;
}

#descricao-concurso:disabled {
    background-color: white;
    color: rgb(27, 27, 27);
}

#descricao-concurso:hover {
    cursor: auto;
}

/* X card de descrição X */

/*  Card_container  */
.style_card_container{
    border-radius: 25px;border-width: 0px;
}
#style_card_container_header{
    border-top-left-radius: 25px; border-top-right-radius: 25px;
}
.style_card_container_header_titulo{
    color:#1492E6; font-weight: 600; font-size: 25px; margin-top: 10px;
}
.style_card_container_header_subtitulo{
    color:#26A8FF; font-weight: 600; font-size: 19px; margin-top: 10px;
}
.style_card_container_header_campo_obrigatorio{
    color:#909090; font-size: 15px; margin-top: 20px;
}

/* X Card_container X */

/*  input  */
.style_campo_titulo{
    color: #707070;
}
.style_campo{
    background-color: #F5F5F5; border-radius: #E4E4E4;
}
/* X input X */

/* tabela */
.tabela_container{
    display: block; overflow-x: auto; white-space: nowrap; border-radius:10px; margin-bottom:0px; border-color: #f1f1f1;
}
.tabela_container_cabecalho_titulo{
    text-align: center; font-weight: normal; color: #909090;
}
.tabela_container_cabecalho_subtitulo{
    font-weight: normal; color: #909090; margin-top: -10px; margin-bottom: -15px;
}
#tabela_container_linha{
border-width: 0px;
}
/* X tabela X */

/* status */
.node_ativo{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display:inline-block;
    background-color: #1492E6;
    margin-left: -20px;
}
.node_concluido{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display:inline-block;
    background-color: #1DBF2E;
    margin-left: -20px;
}
.node_pendente{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display:inline-block;
    background-color: #FFF;
    border: 3px solid #909090;
    margin-left: -20px;
}

.divider {
    height:60px;
    width: 2px;
    margin-left:-8px;
    margin-top: -60px;
}
.grey { background-color: rgba(201, 201, 201, 1); }

li {
    list-style: none;
    line-height: 5px;
}
/* X status X */
/* status */
.node_etapa{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display:inline-block;
    background-color: #fff;
    border: 3px solid #1492E6;
    margin-left: -20px;
}


.divider_etapa {
    height: 5em;;
    width: 2px;
    margin-left:-8px;
    margin-top: -10px;
}
/* X status X */

/* button */
.btn-add{
    background-color: #CFECFF;
    color: #1492E6;
}
.btn-add:hover{
    background-color: #BEE5FF;
    color: #1492E6;
}
/* X button X */

/* data */
.style_data{
    color: red;
    font-weight: normal;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
/* X data X */

/*  etapa */
.style_etapa_legenda{
    font-weight: normal; color: #909090; margin-top: -5px; font-size: 13px;
}
.style_etapa_candidato{
    color: #1eb0ff;
}
/* X etapa X*/

/* Sobrescrita no bootstrap */
.btn-outline-secondary {
    color: #707070;
    border-color: #ced4da;
    box-shadow: none;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: none;
  }

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

.style_card_container_header_campo_obrigatorio .input-search {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: none;
}

.style_card_container_header_campo_obrigatorio .input-search:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: none;
}

.style_card_container_header_campo_obrigatorio .form-control:focus {
    background-color: #fff;
    border-color: rgba(25, 53, 83, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(15, 38, 63, 0.25);
}

/* X  X */

/* 2ª fase */
.style_titulo_documento{
    text-align: justify; font-size:17px; color:#1492E6
}
.style_subtitulo_documento{
    text-align: justify; font-size:15px; color:#909090; font-weight:normal
}

li { 
    line-height: 25px;
    list-style: disc;
}
/* X X*/

.card-header-without-line{
    padding: .75rem 1.25rem;
    margin-bottom: -25px;
}